/Labs/LuhnAlgorithm/dist/
/Labs/LuhnAlgorithm/build/
/Labs/Luhn_Algorithm/dist/
/Labs/Luhn_Algorithm/build/
/Labs/Luhn_Algorithm_2/dist/
/Labs/Luhn_Algorithm_2/build/
/Labs/Average/dist/
/Labs/Average/build/
/Labs/error/build/
/Labs/error/dist/
/Labs/CppApplication_1/build/
/Labs/CppApplication_1/dist/