/Labs/LuhnAlgorithm/dist/
/Labs/LuhnAlgorithm/build/
/Labs/Luhn_Algorithm/dist/
/Labs/Luhn_Algorithm/build/
/Labs/Luhn_Algorithm_2/dist/
/Labs/Luhn_Algorithm_2/build/
/Labs/Average/dist/
/Labs/Average/build/
/Labs/error/build/
/Labs/error/dist/
/Labs/CppApplication_1/build/
/Labs/CppApplication_1/dist/
/Labs/Luhn_Algorithm_3/build/
/Labs/Luhn_Algorithm_3/dist/
/Labs/Food_Ideas/dist/
/Labs/Food_Ideas/build/
/Labs/test/build/
/Labs/test/dist/
/Projects/Mastermind/build/
/Projects/CppApplication_1/build/
/Projects/CppApplication_1/dist/
/Projects/Mastermind/dist/
/Projects/AI/dist/
/Projects/AI/build/
/Projects/MerkleTree/build/
/Projects/MerkleTree/dist/
/Labs/Project2/build/
/Labs/Project2/dist/